/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
}

#search-input {
    padding: 15px;
    width: 300px;
    border: 2px solid #4c98c1;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1em;
    background-color: transparent; /* make input background transparent */
}

#search-input:focus {
    border-color: #4c98c1;
}

#search-button {
    padding: 15px;
    background-color: #4c98c1;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #388E3C;
}

#meme-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meme {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.meme:hover {
    transform: scale(1.05);
}

.meme img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
